@model WebApplication5.Models.Student
@{
    ViewBag.Title = "Home Page";
}

<h3>Registration Form</h3>
@{
    List<SelectListItem> obj = new List<SelectListItem>()
{   new SelectListItem(){Text="Rajkot" , Value = "1"},
        new SelectListItem(){Text="Mumbai" , Value = "2",Selected=true},
        new SelectListItem(){Text="Pune" , Value = "3"},
    };
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <label for="fname" class="col-sm-2 col-form-label">First Name :</label>
    @Html.TextBoxFor(m => m.fname, "", new { @class = "form-control" })
    <br />
    <label for="lname" class="col-sm-2 col-form-label">Last Name :</label>
    @*@Html.TextBox("lname", "", new { @class = "form-control" })*@
    @Html.TextBoxFor(m=>m.lname, "", new { @class = "form-control" })
    <br />
    <label for="Address" class="col-sm-2 col-form-label">Address :</label>
    @Html.TextAreaFor(m=>m.add)
    <br />

    <label for="male">Male</label>
    @Html.RadioButtonFor(m=>m.gender ,"Male")
    <label for="female">Female</label>
    @Html.RadioButtonFor(m => m.gender, "Female")
    <br />
    @Html.DropDownListFor(m=>m.city, obj)
    <br />
    <br />
    <button type="submit" value="submit" name="btn" >Submit</button>
}
</br>
</br>
<div>
    <table class="bg-primary table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.f</td>
                <td>@ViewBag.l</td>
                <td>@ViewBag.a</td>
                <td>@ViewBag.g</td>
                <td>@ViewBag.c</td>
            </tr>
        </tbody>
    </table> 
</div>